.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#FFF;;
  background:#152B49;
  border-bottom:1px solid #d9d9d9;
  border-right: 1px solid #666;
  font-weight: 100;
  padding:10px;
  text-align:left;
  vertical-align:middle;
}

th:first-child {
  /*border-top-left-radius:3px;*/
}

th:last-child {
  /*border-top-right-radius:3px;*/
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  font-size:16px;
  font-weight:normal;
}

tr:hover td {
  background:rgba(21,43,73, 0.29);
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background: rgba(21,43,73, 0.29);
}

tr:last-child td:first-child {
  /*border-bottom-left-radius:3px;*/
}

tr:last-child td:last-child {
  /*border-bottom-right-radius:3px;*/
}

td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:100;
  font-size:14px;
  border-right: 1px solid #C1C3D1;
  width: 25%;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

td a{
  color: #000;
}